{
  "presets": [
    ["env", {
      "modules": false,
        "targets": {
          "browsers": "> 1%",
          "uglify": true
        },
        "useBuiltIns": true
    }]
  ],

  "plugins": [
    ["module-resolver", { "root": ["./source/assets/javascripts"], "alias": {} }]
  ]
}
