{
  "presets": [
    ["@babel/preset-env", {
      "forceAllTransforms": true,
      "useBuiltIns": "entry",
      "modules": false
    }]
  ],

  "plugins": [
    ["module-resolver", { "root": ["./source/assets/javascripts"], "alias": {} }]
  ]
}
