@import "settings";
@import "mixins";

ul.index {
  @include block-list;
  li {
    padding:0.5rem 0;
    &:first-child {
      padding-top:0;
    }
    a {
      font-weight: bold;
    }
  }
  li:first-child {padding-top:0;}
}

.index-post {
  padding-bottom: 0rem;
  margin-bottom: 1rem;
  border: none;

  .comments {
    margin-top: 1rem;
  }
}

.profile {
  padding-bottom: 2rem;
  text-align: center;

  img { width: 30%; }
  .profile-name {
    font-weight: bold;
    text-transform: uppercase;
  }
}

.anchor {
  padding-right: 2px;
  margin-left: -27px;
  float: left;

  svg {
    visibility: hidden;
  }
}
.title {
  &:hover {
    .anchor {
      svg {
        visibility: visible;
      }
    }
  }
}
