@import "settings";

ul.index {
  list-style-type:none;
  margin-left: 0;
  li {
    display:block;
    padding:0.5rem 0;
    &:first-child {
      padding-top:0;
    }
    a {
      font-weight: bold;
    }
  }
  li:first-child {padding-top:0;}
}

.index-post {
  padding-bottom: 0rem;
  margin-bottom: 1rem;
  border: none;

  .comments {
    margin-top: 1rem;
  }
}
article {
  @include base-font;
  header {
    @include base-font;
    margin-bottom: 2.25rem;
  }
  h3,h4,h5 {
    margin-top: 3rem;
    margin-bottom: 1.111rem;
  }
  p {
    color: $mainColor;
  }
  p:last-child {
    margin-bottom: 0;
  }

  .icon-image {
    width: 10%;

    &.inline {
      width: 3%;
    }
  }
}

.profile {
  padding-bottom: 2rem;
  text-align: center;

  img { width: 30%; }
  .profile-name {
    font-weight: bold;
    text-transform: uppercase;
  }
}
