@import "settings";
@import "mixins";

article {
  figure {
    margin: 0 0 1.5rem;
  }

  figcaption {
    letter-spacing: -.02em;
    font-weight: 300;
    font-style: normal;
    font-feature-settings: "liga" on,"lnum" on;
    font-size: 0.9rem;
    line-height: 1.4;
    color: rgba(0,0,0,.68);
    letter-spacing: 0;
    position: relative;
    left: 0;
    width: 100%;
    top: 0;
    margin-top: 10px;
    color: rgba(0,0,0,.68);
    outline: 0;
    text-align: center;
  }
}

ul.index {
  @include block-list;
  li {
    padding:0.5rem 0;
    &:first-child {
      padding-top:0;
    }
    a {
      font-weight: bold;
    }
  }
  li:first-child {padding-top:0;}
}

.index-post {
  padding-bottom: 0rem;
  margin-bottom: 1rem;
  border: none;

  .comments {
    margin-top: 1rem;
  }
}

.profile {
  padding-bottom: 2rem;
  text-align: center;

  img { width: 30%; }
  .profile-name {
    font-weight: bold;
    text-transform: uppercase;
  }
}

.anchor {
  padding-right: 2px;
  margin-left: -27px;
  float: left;

  svg {
    visibility: hidden;
  }
}
.title {
  &:hover {
    .anchor {
      svg {
        visibility: visible;
      }
    }
  }
}
