code {
  @apply bg-gray-400 p-1 text-sm;

  background-color: ghostwhite;
}

pre {
  @apply mb-6 p-4 border rounded leading-snug;

  display: block;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: ghostwhite;
}

@screen lg {
  pre {
    @apply p-6 -mx-6;
  }
}

pre code {
  @apply text-xs p-0;
  background-color: none;
  overflow:auto;
  font-weight:normal;
}
