@import 'settings';
@import 'mixins';

body {
  background: alicewhite;
  padding: 0 0 2em;
  @include base-font;
}
img {
  &.th.center {
    display:block;
    margin: 0 auto 1em;
  }
}
h1,h2,h3,h4,h5,h6 {
  @include header-font;
  a {
    @include header-link-colors;
  }
}
a {
  @include link-colors;
}

ol {
  li {
    margin-bottom: $paragraph-margin-bottom / 2;
  }
}

header {
  text-align: left;
  h1 { margin-bottom: 0.5em; font-size: 2.25em; }

  h1,h2,h3,h4,h5,h6 {
    color: $mainColor;
    @include header-font;
    a {
      @include header-font;
      @include header-link-colors;
    }
  }
  p { margin: 0;}
}

footer {
  @include clearfix;
  padding: 4em 0;
  background-color: $lightGreyColor;

  h5 { font-weight: bold; }
  ul {
    @include block-list;
    font-size: 90%;
  }
  .row {
    position: relative;
  }
  .turtle {
    position: absolute;
    width: 30px;
    top: -38px;
    left: 30px;
  }

  .copyright {
    text-align: center;
    font-size: 75%; }
}

@media #{$small-only} {
  ul {
    font-size: $rem-base;
  }
  p {
    font-size: $rem-base;
    margin-bottom: 0.9rem;
    line-height: 1.5rem;
  }
  footer {
    margin: 1em 0;
  }
}
