@import 'settings';

body {
  background: alicewhite;
  padding: 0 0 2em;
  @include base-font;
}
img {
  &.th.center {
    display:block;
    margin: 0 auto 1em;
  }
}
h1,h2,h3,h4,h5,h6 {
  @include header-font;
  a {
    @include header-link-colors;
  }
}
a {
  @include link-colors;
}

header {
  text-align: left;
  h1 { margin: 0; line-height:60px; font-size: 2.25em; }

  h1,h2,h3,h4,h5,h6 {
    color: $mainColor;
    @include header-font;
    a {
      @include header-font;
      @include header-link-colors;
    }
  }
  p { margin: 0;}
}

footer {
  @include clearfix;
  padding: 2em 0;
}

code {
  border: none;
  // background-color: rgba(0,0,0,0.04);
  background-color: $lightGreyColor;
  font-size: .9em;
  padding: 0.2em 0.3em;
}

pre {
  code {
    overflow:auto;
    margin-bottom: $paragraph-margin-bottom;
    font-weight:normal;
    line-height:1.45em;
    font-size:1.15em;
    padding: 1.25em;
  }
}

@media #{$small-up} {
  .top-bar .name h1 a { padding: 0 15px; }
}
@media #{$small-only} {
  ul {
    font-size: $rem-base;
  }
  p {
    font-size: $rem-base;
    margin-bottom: 0.9rem;
    line-height: 1.5rem;
  }
  pre {
    code {
      &.hljs {
        margin-bottom: 0.9rem;
        line-height: 1.4em;
        font-size: 14px;
        padding: 1rem;
      }
    }
  }
  footer {
    margin: 1em 0;
  }
}
