#zen {
  @include header-font;
  line-height: 80px;
  background-color: $lightGreyColor;
  text-align: center;
  .row {
    border-bottom: 1px solid #e1e1e1;
  }
}

#main {
  @include base-font;
  padding-bottom:1em;
  margin-top:2em;
  margin-bottom:1em;

  @media #{$small-only} {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  h1,h2,h3,h4,h5,h6 {
    font-weight: bold;
    color: $mainColor;
    @include header-font;
    a {
      @include header-font;
    }
    &.subtle {
      font-weight:normal;
      color: $subtleColor;
    }
  }

  h2 {
    color: black;
    font-weight: bold;
    small {
      font-weight: normal;
    }
    a {
      color: black;
    }
  }

  .page-header {
    h3 {
      font-weight:normal;
      color: $subtleColor;
      margin: 0;
    }
  }
}

#sidebar {
  ul {
    list-style-type: none;
    margin-left: 0;
  }
}

@mixin hero($side) {
  background-color: $lightGreyColor;
  padding-top: 1.75em;
  padding-bottom: 1em;
  padding-left: $side;
  padding-right: $side;
}

#hero {
  $side: 2.5em;

  @include hero($side);

  margin: -2em (-$side) 4em (-$side);

  header {
    margin-bottom: 0em;
  }
}

form {
  .row .row.collapse input {
    height: rem-calc(60);
    font-size: 1em;
    padding: 0.5em 1em;

    &[type=submit] {
      @include header-font;
      background-color: $secondaryColor;
      &:hover {
        opacity:0.95;
      }
    }
  }
}

.signup-form-standalone {
  @include hero(2em);
  margin: 0.75em 0;
  border: solid 1px #dfdfdf;

  @media #{$small-only} {
    padding: 1rem 1.5rem;
  }
}
