---
pageable: true
per_page: 25
---
<% content_for(:section) { "Talks" } %>

<%= page_header "Talks on rossta.net", "Programming for the web" %>

<br/>
<section id="talks" class="index-posts">
  <% blog("talks").articles.each do |article| %>
    <article class="index-post">
      <header>
        <h3>
          <%= link_to article.title, article %>
        </h3>
        <% if article.data.summary %>
          <p class="alt-title subtle"><%= article.data.summary %></p>
        <% end %>
      </header>
    </article>
  <% end %>
  <br /><hr /><br />
</section>
<section class="signup-form-standalone margin-bottom double">
  <%= partial "partials/signup" %>
</section>
