---
pageable: true
per_page: 25
---
<% content_for(:section) { "Talks" } %>

<%= page_header "Talks on rossta.net", "Programming for the web" %>

<section id="talks" class="index-posts">
  <%= partial "partials/article_index", locals: { local_articles: blog("talks").articles } %>
  <br /><hr /><br />
</section>
<section class="signup-form-standalone margin-bottom double">
  <%= partial "partials/signup" %>
</section>
