@import "_settings";

ul.index {
  list-style-type:none;
  li {
    display:block;
    padding:1em 0;
    a {
      font-weight: bold;
    }
  }
}
.index-post {
  padding-bottom: 2em;
  margin-bottom: 2.25em;
  border-color: #ccc;
  border-width: 0;
  border-bottom-width: 1px;
  border-style: solid;
}
