@import "_settings";
ul.index {
  list-style-type:none;
  margin-left: 0;
  li {
    display:block;
    padding:0.5em 0;
    &:first-child {
      padding-top:0;
    }
    a {
      font-weight: bold;
    }
  }
  li:first-child {padding-top:0;}
}
.index-post {
  padding-bottom: 2em;
  margin-bottom: 2em;
  border-color: #ccc;
  border-width: 0;
  border-bottom-width: 1px;
  border-style: solid;

  .comments {
    margin-top: 1em;
  }
}
article {
  header {
    margin-bottom: 1em;
  }

  p:last-child {
    margin-bottom: 0;
  }
}
