@import '_settings';

@mixin base-font {
  font-family: $baseFont;
}
@mixin signature-font {
  font-family: $signatureFont;
}
@mixin link-colors {
  color: $secondaryColor;
  &:hover {
    color: $mainColor;
  }
}

body {
  padding: 2em 0;

  @include base-font;
  h1,h2,h3,h4,h5,h6 {
    @include base-font;
  }
  a {
    @include link-colors;
  }
  .logo {
    font-family: "courier-prime",monospace;
    color: #024A68;
    font-size:1.25em;
    &:hover {
      color: $secondaryColor;
    }
  }
}

#application {
  header {
    h1 { margin: 0;}
    h2 { margin-top: 0;}
    h1,h2,h3,h4,h5,h6 {
      color: $mainColor;
      @include signature-font;
      @include link-colors;
      a {
        @include link-colors;
      }
    }
  }

  footer {
    border-width: 1px 0 0;
    border-color: #CCC;
    border-style: solid;
    padding-top: 2em;
  }
}

#main {
  padding-top:1em;
  padding-bottom:1em;
  margin-bottom:1em;
  h2 { font-size:1.75em; margin-top:0;}
  code {
    overflow:auto;
    margin-bottom:1.25em;
    font-weight:normal;
  }
}

#welcome {
  text-align:center;

  aside {
    font-size: 90%;
    h2, h3, h4 {
      font-size: 100%;
    }
  }
  .info {
    margin-bottom: 2em;
  }
  .nav {
    padding-top:1em;
    a {
      @include button-base;
      @include button-size(0.75em);
      @include button-style(white);
      &:hover {
        color: white;
        background-color: #024A68;
      }
    }
  }
}
@media #{$small} {
  #sidebar {
    text-align:left;
  }
}


.font-light { color:$greyColor; }
.center { text-align: center; }
.center-inline-list {
   float:left;
   width:100%;
   background:#fff;
   overflow:hidden;
   position:relative;

  .inline-list {
    clear:left;
    float:left;
    list-style:none;
    margin:0;
    padding:0;
    position:relative;
    left:50%;
    text-align:center;
    overflow: visible;

    > li {
      display:block;
      float:left;
      list-style:none;
      position:relative;
      right:50%;
    }
  }
}
