@import '_settings';

@mixin base-font {
  font-family: $baseFont;
}
@mixin signature-font {
  font-family: $signatureFont;
}
@mixin link-colors {
  color: $secondaryColor;
  &:hover {
    color: $mainColor;
  }
}

body {
  padding: 2em 0;

  @include base-font;
  h1,h2,h3,h4,h5,h6 {
    @include base-font;
  }
  a {
    @include link-colors;
  }
  .logo {
    font-family: "courier-prime",monospace;
    color: #024A68;
    font-size:1.25em;
    &:hover {
      color: $secondaryColor;
    }
  }
}

#application {
  #welcome {
    border-bottom: 1px solid #ccc;
    text-align:center;
    .nav {
      padding-top:1em;
      a {
        @include button-base;
        @include button-size(0.75em);
        @include button-style(white);
        &:hover {
          color: white;
          background-color: #024A68;
        }
      }
    }
  }

  header {
    margin-top:1em;
    h1 { margin: 0; line-height:1em;}
    h2 { margin: 0 0 ; line-height:1.25em; margin-bottom: .25em;}
    h1,h2,h3,h4,h5,h6 {
      color: $mainColor;
      @include signature-font;
      @include link-colors;
      a {
        @include link-colors;
      }
    }
    p { margin: 0;}
  }

  footer {
    border-width: 1px 0 0;
    border-color: #CCC;
    border-style: solid;
    padding-top: 2em;

    .twitter-share-button {
      clear:both;
      text-align:center;
    }
  }
}

#main {
  padding-top:1em;
  padding-bottom:1em;
  margin-bottom:1em;
  h2 { font-size:1.75em; margin-top:0;}
  code {
    overflow:auto;
    margin-bottom:1.25em;
    font-weight:normal;
    line-height:1.45em;
    font-size:14px;
  }
}

@media #{$small} {
  #sidebar {
    text-align:left;
  }
}

.share { margin-top: 1em; }

.margin-top { margin-top: 1em; }
.margin-bottom { margin-bottom: 1em; }

.font-light { color:$greyColor; }

.text-center { text-align: center; }

img {
  &.th.center {
    display:block;
    margin: 0 auto 1em;
  }
}
.center-inline-list {
   float:left;
   width:100%;
   background:#fff;
   overflow:hidden;
   position:relative;

  .inline-list {
    clear:left;
    float:left;
    list-style:none;
    margin:0;
    padding:0;
    position:relative;
    left:50%;
    text-align:center;
    overflow: visible;

    > li {
      display:block;
      float:left;
      list-style:none;
      position:relative;
      right:50%;
    }
  }
}
