<ul class="inline-list">
  <li><a href="mailto:ross@rossta.net">email</a></li>
  <li><a href="https://twitter.com/rossta">twitter</a></li>
  <li><a href="https://github.com/rossta">github</a></li>
</ul>
