<ul class="inline-list">
  <li><a href="/blog">blog</a></li>
  <li><a href="/projects">projects</a></li>
  <li><a href="/about">about</a></li>
  <li><a href="mailto:rosskaff@gmail.com">email</a></li>
  <li><a href="/feed.xml">feed</a></li>
  <li><a href="http://twitter.com/rossta">twitter</a></li>
  <li><a href="http://stackoverflow.com/users/771838/rossta">stacko</a></li>
  <li><a href="http://github.com/rossta">github</a></li>
</ul>
