<% summary ||= nil %>
<section class="index-post margin-top">
   <article>
     <header>
       <h4><%= link_to title, path %></h4>
       <% if summary %>
         <p class="alt-title subtle"><%= summary %></p>
       <% end %>
     </header>
   </article>
</section>
