<section class="profile">
  <%= image_tag 'rossta.jpg', class: "th center margin-bottom" %>

  <h5 class="profile-name">Ross Kaffenberger</h5>
  <h6 class="subtle">New York, New York</h6>
  <%= partial "layouts/follow" %>
</section>
