<nav id="welcome" class="row">
  <section id="title" class="large-6 small-12 columns">
    <header class="signature-font">
      <h1><a class="logo" href="/">ross kaffenberger</a></h1>
    </header>
  </section>
  <section id="nav" class="large-6 small-12 columns nav">
    <%= partial 'layouts/nav' %>
  </section>
</nav>
