<% wrap_layout :layout do %>
  <% content_for(:title) { current_article.title } %>
  <section id="blog">
    <article class="post">
      <h2>
        <%= current_article.title %>
        <br />
        <small><%= current_article.date.strftime('%b %e') %></small>
      </h2>
      <%= yield %>
    </article>
    <section class="comments">
      <!-- Comments -->
    </section>
  </section>
  <a href="https://twitter.com/share" class="twitter-share-button" data-via="rossta">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<% end %>
