<% nozen! %>
<% wrap_layout :layout do %>
  <% content_for(:title) { current_article.title } %>
  <% content_for(:section) { "I talk about things" } %>
  <% title current_article.title %>
  <% description current_page.data.description %>
  <% keywords (current_page.data.tags || []).join(', ') %>
  <section id="project" class="margin-bottom double">
    <article class="post margin-bottom double">
      <%= page_header current_article.title, current_page.data.summary %>

      <%= yield %>
    </article>
    <hr />
    <section class="margin-bottom double">
      <p>
        If you liked this presentation, <%= discuss_article_on_twitter_link_to(current_article, prompt: "share it on twitter", class: "font-bold") %>
        and <a href="https://twitter.com/rossta">follow me</a>.
      </p>
    </section>
  </section>
  <section class="signup-form-standalone hero">
    <%= partial "partials/signup" %>
  </section>
<% end %>
