<% nozen! %>
<% wrap_layout :layout do %>
  <% content_for(:title) { current_article.title } %>
  <% content_for(:section) { "I talk about things" } %>
  <% title current_article.title %>
  <% description current_page.data.description %>
  <% keywords (current_page.data.tags || []).join(', ') %>
  <section id="talk" class="margin-bottom double">
    <article class="post margin-bottom double">
      <%= page_header current_article.title, current_page.data.summary %>

      <%= yield %>

    </article>
    <hr />
    <section class="margin-bottom double">
      <p>
        If you liked this presentation, <%= tweet_link_to "share it on Twitter",
          text: [current_article.title, "rossta.net"].join(" - "),
          url: to_url(path: current_article.path) %>
        and <a href="https://twitter.com/rossta">follow me</a>.
      </p>
    </section>
  </section>
  <section class="share margin-bottom double">
  </section>
  <section class="signup-form-standalone">
    <%= partial "partials/signup" %>
  </section>
<% end %>
