<% articles.each do |article| %>
  <article class="index-post">
    <header>
      <h3><%= link_to article.title, article %></h3>
      <% if article.data.summary %>
        <p class="alt-title subtle"><%= article.data.summary %></p>
      <% end %>
    </header>
  </article>
<% end %>
