<% local_articles.each do |article| %>
  <article class="index-post">
    <header class="index-title">
      <%= link_to article.title, article %>
    </header>
    <% if article.data.summary %>
      <p class="index-alt-title subtle"><%= article.data.summary %></p>
    <% end %>
  </article>
<% end %>
