<form
  action="https://buttondown.email/api/emails/embed-subscribe/joyofrails"
  method="post"
  target="popupwindow"
  onsubmit="window.open('https://buttondown.email/joyofrails', 'popupwindow')"
  class="embeddable-buttondown-form w-full max-w-sm"
>
  <div class="mb-4">
    <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
      Subscribe to my newsletter: The Joy of Rails
    </label>
    <div class="flex items-center border-b border-teal-500 py-2">
      <input class="appearance-none bg-transparent border-none w-full text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none"
        type="text"
        type="email"
        name="email"
        id="bd-email"
        placeholder="Your email (you@example.com)"
        aria-label="Your email"
      />
      <button class="flex-shrink-0 button button-blue border-teal-500 hover:border-teal-700 text-sm" type="button">
        Subscribe
      </button>
    </div>
  </div>
</form>
