<ul>
  <li><a href="mailto:ross@rossta.net">email</a></li>
  <li><a href="https://twitter.com/rossta">twitter</a></li>
  <li><a href="https://github.com/rossta">github</a></li>
  <li><a href="https://stackoverflow.com/users/771838/rossta?tab=profile">stackoverflow</a></li>
  <li><a href="https://www.linkedin.com/in/rosskaffenberger">linkedin</a></li>
</ul>
