<a class="github-button" href="https://github.com/rossta" data-style="mega" aria-label="Follow @rossta on GitHub">Follow @rossta</a>
<% content_for :javascripts do %>
  <script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
<% end %>
