<%
  summary ||= nil
  classes ||= ["page-header"]
  if summary
    classes << "with-summary"
  end
%>
<header class="<%= classes.join(" ") %>">
  <h1>
    <%= title %>
  </h1>
  <% if summary %>
    <h3>
      <%= summary %>
    </h3>
  <% end %>
</header>
