<%
  summary ||= nil
%>
<header class="page-header mt-4">
  <h1>
    <%= title %>
  </h1>
  <% if summary %>
    <h2 class="mt-4 text-gray-600 font-medium">
      <%= summary %>
    </h2>
  <% end %>
</header>
