<% summary ||= nil %>
<section class="mt-4">
   <article class="index-post">
      <header class="index-title">
        <%= link_to title, path %>
      </header>
      <% if summary %>
        <p class="alt-title subtle"><%= summary %></p>
      <% end %>
   </article>
</section>
