<section class="profile">
  <%= lazy_image_tag 'rossta.jpg', class: "w-1/2 center mb-4" %>

  <h5 class="text-sm">Ross Kaffenberger</h5>
  <h6 class="text-sm text-gray-600">Made in DC and NYC</h6>
  <%= partial "partials/follow" %>
</section>
