<h3 class="mb-2">
  Join the Newsletter
</h3>
<p>
  Please enter your email address to get an occasional email about
  <%= current_page_tags.join(', ') + (current_page_tags.length > 1 ? "," : "") %> and the web. Thank you!
</p>
