<h2 class="mb-8">
  Need help with webpack on Rails?
</h2>
<p class="mb-4">My name is <strong>Ross Kaffenberger</strong>.</p>

<p class="mb-4">
  Webpacker now ships by default in Rails 6 but there's no need to stress.
  I'm putting together a course to help you master <strong>webpack on Rails</strong>.
</p>

<p class="mb-4">
  I teach full stack web developers about the frontend tools and performance,
  especially at the intersection of <strong>JavaScript</strong> and <strong>Ruby on Rails</strong>.
</p>

<p>
  Subscribe to stay in the loop.
</p>
