<h2 class="mb-8">
  Need help with JavaScript on Rails?
</h2>
<p class="mb-4">My name is <strong>Ross Kaffenberger</strong>.</p>

<p class="mb-4">
  I teach full stack web developers about frontend tools and performance,
  especially at the intersection of <strong>JavaScript</strong> and <strong>Ruby on Rails</strong>.
</p>

<p>
  Subscribe to stay in the loop.
</p>
