<% tags = current_page.data.tags || [] %>
<% if current_page_tagged?(%w[Rails Webpack]) %>
  <h3 class="mb-2">
    Need help with Webpack on Rails?
  </h3>
  <p class="mb-4">
    Webpacker now ships by default in Rails 6 but there's no need to stress.
    I'm putting together a course to help you master Webpack on Rails.
  </p>
  <p>
    Subscribe to stay in the loop.
  </p>
<% else %>
  <h3 class="mb-2">
    Did you like this post?
  </h3>
  <p>
    Please
    <%= discuss_article_on_twitter_link_to(current_article, prompt: "share it on twitter", class: "font-bold") %>
    and enter your email below to subscribe to my newsletter on
    <%= current_page_tags.join(', ') + (current_page_tags.length > 1 ? "," : "") %> and the web. Thank you!
  </p>
<% end %>
