<p class="mb-4">
  Struggling to get webpack do what you want?
</p>
<p class="mb-4">
  Terrified of making changes to your config?
</p>
<p class="mb-4">
  Does the thought of migrating from Sprockets to Webpacker <span class="font-italic">make you want to cry?</span>
</p>
<p class="mb-4">
  Spend less time struggling with modern JavaScript in your Rails app. Subscribe for tips, techniques, and know-how. Be the first to know about the upcoming launch.
</p>
