<section class="icon-list hidden sm:flex">
  <%= link_to(image_tag("icons/twitter-64x.png", class: "h-6"), "https://twitter.com/rossta", class: "ml-2 header-icon icon", target: "_blank", rel: "no-follow") %>
  <%= link_to(image_tag("icons/github-64x.png" , class: "h-6"), "https://github.com/rossta",   class: "ml-2 header-icon icon", target: "_blank", rel: "no-follow") %>
  <%= link_to(image_tag("icons/medium-64x.png" , class: "h-6"), "https://medium.com/@rossta",  class: "ml-2 header-icon icon", target: "_blank", rel: "no-follow") %>
</section>
