<ul class="icon-list flex">
  <li><%= link_to(image_tag("icons/twitter-64x.png"), "https://twitter.com/rossta", class: "header-icon icon", target: "_blank", rel: "no-follow") %></li>
  <li><%= link_to(image_tag("icons/github-64x.png"), "https://github.com/rossta", class: "header-icon icon", target: "_blank", rel: "no-follow") %></li>
  <li><%= link_to(image_tag("icons/medium-64x.png"), "https://medium.com/@rossta", class: "header-icon icon", target: "_blank", rel: "no-follow") %></li>
</ul>
