---
pageable: true
name: archive
prefix: archive
per_page: 25
---
<% content_for(:section) { 'Archive' } %>
<%= page_header 'Archive', 'Programming for the web' %>
<section id="blog" class="index-posts">
  <%= partial "partials/article_index", locals: { local_articles: page_articles } %>
  <%= partial "partials/pagination" %>
</section>
<section class="signup-form-standalone hero">
  <%= partial "partials/signup" %>
</section>
