<!doctype html>
<html>
  <head>
    <title>Building basic Connect Four with Vue.js - rossta.net</title>
<meta name="description" content="Continuing our Connect Four series, we will take a look at converting a static HTML representation of a Connect Four board and add functionality and dynamic rendering with Vue.js." />
<meta name="keywords" content="Vue, SVG" />
<meta name="site" content="rossta.net" />
<meta property="og:site_name" content="rossta.net" />
<meta name="twitter:card" content="summary" />
<meta name="twitter:creator" content="Ross Kaffenberger" />
<meta name="twitter:description" content="Continuing our Connect Four series, we will take a look at converting a static HTML representation of a Connect Four board and add functionality and dynamic rendering with Vue.js." />
<meta name="twitter:image:src" content="https://rossta.net/assets/images/blog/connect-four-highway-bc90f9a5.png" />
<meta name="twitter:title" content="Building basic Connect Four with Vue.js" />
<meta property="og:description" content="Continuing our Connect Four series, we will take a look at converting a static HTML representation of a Connect Four board and add functionality and dynamic rendering with Vue.js." />
<meta property="og:image" content="https://rossta.net/assets/images/blog/connect-four-highway-bc90f9a5.png" />
<meta property="og:title" content="Building basic Connect Four with Vue.js" />
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge;chrome=1' />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="mobile-web-app-capable" content="yes">

    <link rel="manifest" href="/manifest.json" />
    <link rel="apple-touch-icon"     href="/apple-touch-icon.png" />
    <link rel="icon"                 href="/touch-icon-192x192.png" />
    <link rel="icon" sizes="192x192" href="/touch-icon-192x192.png" />
    <link rel="icon" sizes="144x144" href="/touch-icon-144x144.png" />
    <link rel="icon" sizes="96x96"   href="/touch-icon-96x96.png" />
    <link rel="icon" sizes="72x72"   href="/touch-icon-72x72.png" />

    <link rel="pingback" href="https://webmention.io/rossta.net/xmlrpc" />
    <link rel="webmention" href="https://webmention.io/rossta.net/webmention" />

    <script type="text/javascript" src="//use.typekit.net/ned0mml.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <link href="/assets/stylesheets/app.bundle-6062734b.css" rel="stylesheet" />
    <link href="/assets/images/turtle-favicon.ico" rel="icon" type="image/ico" />
  </head>
  <body id="application" class="typekit">
    <nav id="welcome-nav" class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><a class="logo" href="/"><img src="/assets/images/turtle-logo-096698b6.svg" alt="Turtle logo" /><span>rossta.net</span></a></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
  </ul>

  <section class="top-bar-section">
    <ul class="left">
      <li class="nav"><a href="/blog">blog</a></li>
      <li class="nav"><a href="/series">series</a></li>
      <li class="nav"><a href="/talks">talks</a></li>
      <li class="nav"><a href="/projects">projects</a></li>
      <li class="nav"><a href="/about">about</a></li>
      <li class="nav"><a href="/feed.xml">feed</a></li>
    </ul>
  </section>
</nav>

    <div class="row">
      <section id="main" role="main" class="large-12 small-12 columns">
          <section id="blog" class="margin-bottom double">
    <article class="post margin-bottom double">
      <header class="page-header with-summary">
  <h1>
    Building basic Connect Four with Vue.js
  </h1>
    <h3>
      From static HTML to dynamic rendering of components with Vue.js
    </h3>
</header>

        <figure>
          <img src="/assets/images/blog/connect-four-highway-bc90f9a5.png" alt="Connect four highway" />
            <figcaption>Background Photo by Amanda Sandlin on Unsplash</figcaption>
        </figure>
      <p><em>This post is <a href="/blog/series/connect-four.html">part of a series on building Connect Four with Vue.js, SVG, Elixir, and the Phoenix framework</a>.</em></p>

<p>Lately, I&#39;ve gotten excited about the <a href="https://vuejs.org/">Vue.js</a> JavaScript
framework view rendering due to its versatility, low barrier to entry, and
community supported extensions for state management and routing.  In this post,
we&#39;ll use Vue.js 2 to dynamically render the Connect Four game board we started
<a href="/blog/connect-four-with-svg-pattern-masking.html">last time</a>. This
will not be a complete tutorial on Vue.js, but it hopefully will illustrate
some of Vue&#39;s basic concepts and its powerful and intuitive features.
Check out the <a href="https://vuejs.org/v2/guide/">excellent Vue.js guides</a> for a
thorough introduction to the framework.</p>

<p>To see where we&#39;ll end up, here&#39;s a pen:</p>

<p data-height="485" data-theme-id="0" data-slug-hash="eyrMBy" data-default-tab="js,result" data-user="rossta" data-embed-version="2" data-pen-title="Connect Four Vue.js, SVG: first pass" class="codepen">See the Pen <a href="https://codepen.io/rossta/pen/eyrMBy/">Connect Four Vue.js, SVG: first pass</a> by Ross Kaffenberger (<a href="https://codepen.io/rossta">@rossta</a>) on <a href="https://codepen.io">CodePen</a>.</p>

<script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>

<p><hr /></p>

      <h2 id="breaking-it-down" class="title">
        <a name="breaking-it-down" class="anchor" href="#breaking-it-down">       <svg aria-hidden="true" class="octicon octicon-link" height="16" version="1.1" viewBox="0 0 16 16" width="16">
       <path d="M4 9h1v1h-1c-1.5 0-3-1.69-3-3.5s1.55-3.5 3-3.5h4c1.45 0 3 1.69 3 3.5 0 1.41-0.91 2.72-2 3.25v-1.16c0.58-0.45 1-1.27 1-2.09 0-1.28-1.02-2.5-2-2.5H4c-0.98 0-2 1.22-2 2.5s1 2.5 2 2.5z m9-3h-1v1h1c1 0 2 1.22 2 2.5s-1.02 2.5-2 2.5H9c-0.98 0-2-1.22-2-2.5 0-0.83 0.42-1.64 1-2.09v-1.16c-1.09 0.53-2 1.84-2 3.25 0 1.81 1.55 3.5 3 3.5h4c1.45 0 3-1.69 3-3.5s-1.5-3.5-3-3.5z"></path>
       </svg>
</a>
        Breaking it down
      </h2>
    
<p>We&#39;ll use Vue.js to convert the static layout, which renders the Connect Four board in SVG with a few checkers in place as shown below:</p>

<pre><code class="html">&lt;!-- board --&gt;
&lt;svg viewBox=&quot;0 0 700 600&quot; xmlns=&quot;http://www.w3.org/2000/svg&quot;&gt;
  &lt;!-- defs for svg pattern masking --&gt;

  &lt;!-- column 0 --&gt;
  &lt;svg x=&quot;0&quot; y=&quot;0&quot;&gt;

    &lt;!-- checker --&gt;
    &lt;circle cx=&quot;50&quot; cy=&quot;550&quot; r=&quot;45&quot; fill=&quot;#254689&quot;&gt;&lt;/circle&gt;

    &lt;rect width=&quot;100&quot; height=&quot;600&quot; fill=&quot;cadetblue&quot; mask=&quot;url(#cell-mask)&quot;&gt;&lt;/rect&gt;
  &lt;/svg&gt;

  &lt;!-- column 1 --&gt;
  &lt;svg x=&quot;100&quot; y=&quot;0&quot;&gt;
    &lt;rect width=&quot;100&quot; height=&quot;600&quot; fill=&quot;cadetblue&quot; mask=&quot;url(#cell-mask)&quot;&gt;&lt;/rect&gt;
  &lt;/svg&gt;

  &lt;!-- and more columns... --&gt;

&lt;/svg&gt;
</code></pre>

<p>It&#39;s easy to spot some repetition. There are a fixed number of columns of
the same dimensions and appearance, each of which may contain checkers. As
Vue.js is a component based framework, we&#39;ll want to break these pieces into logical
units: the game will be composed of a single Board component, which will render
all the Column components, each of which will render their &quot;stack&quot; of Checker
components. Here&#39;s how we might visualize this breakdown:</p>

<p><img src="/assets/images/blog/connect-four-components-442b46a4.png" style="width:70%;margin:2em auto;display:block;" alt="Connect four components" /></p>

<p>Aside from this hierarchy, we also will make an informal distinction to describe
the Board, Column, and Checker: they are &quot;presentation&quot; components.
Notably, their main role is to determine how the app will look. We&#39;ll wrap
the Board in a &quot;container&quot; component, whose main role is to determine how the
app will work. For more on this distinction, check out Dan Abramov&#39;s React article on
<a href="https://medium.com/@dan_abramov/smart-and-dumb-components-7ca2f9a7c7d0">Presentational and Container
Components</a>.</p>

<p>For our game, a <code>GameContainer</code> component will be to keep track of and manipulate the key
game state, including adding checkers when a player selects a column, toggling
the player turns, and, later, determine if a player has won the game. This gives us a sense now of our complete component hierarchy, this time visualize in Vue/HTML pseudocode:</p>

<pre><code>&lt;game-container&gt; &lt;!-- state: checkers, current player --&gt;
  &lt;game-board :checkers=&quot;checkers&quot;&gt; &lt;!-- state: board dimensions --&gt;
    &lt;template v-for=&quot;column in columns&quot;&gt;
      &lt;board-column :stack=&quot;stack(column)&quot;&gt;
        &lt;template v-for=&quot;checker in stack&quot;&gt;
          &lt;board-checker&gt;&lt;/board-checker&gt;
        &lt;/template&gt;
      &lt;/column&gt;
    &lt;/template&gt;
  &lt;/board&gt;
&lt;/game&gt;
</code></pre>

<p>In practice, our presentation components will keep some of their own state and
logic as well, but it will be very specfic to the local concerns of that
component; when a presentation component needs to know about higher level
state, it will be passed in as props from its parent. Any events triggered in
the user interface will be passed back up the heirarchy, eventually reaching
our container; &quot;actions up, data down&quot;. For this first pass, the main action
will be clicking a column in which to drop the next checker.</p>

      <h2 id="the-container" class="title">
        <a name="the-container" class="anchor" href="#the-container">       <svg aria-hidden="true" class="octicon octicon-link" height="16" version="1.1" viewBox="0 0 16 16" width="16">
       <path d="M4 9h1v1h-1c-1.5 0-3-1.69-3-3.5s1.55-3.5 3-3.5h4c1.45 0 3 1.69 3 3.5 0 1.41-0.91 2.72-2 3.25v-1.16c0.58-0.45 1-1.27 1-2.09 0-1.28-1.02-2.5-2-2.5H4c-0.98 0-2 1.22-2 2.5s1 2.5 2 2.5z m9-3h-1v1h1c1 0 2 1.22 2 2.5s-1.02 2.5-2 2.5H9c-0.98 0-2-1.22-2-2.5 0-0.83 0.42-1.64 1-2.09v-1.16c-1.09 0.53-2 1.84-2 3.25 0 1.81 1.55 3.5 3 3.5h4c1.45 0 3-1.69 3-3.5s-1.5-3.5-3-3.5z"></path>
       </svg>
</a>
        The container
      </h2>
    
<p>The <code>GameContainer</code> component be the source of truth for the key game-level
concerns including an object to store the checkers that have been played and
numbers representing row and column (abbreviated throughout the code as <code>col</code>)
counts. For now, we&#39;ll also hardcode the first player to &quot;red&quot;. The
<code>GameContainer</code> markup is simply to render the <code>GameBoard</code>, which will receive
data from the container via props.</p>

<pre><code class="javascript">const GameContainer = Vue.component(&#39;game-container&#39;, {
  data() {
    return {
      checkers: {},
      playerColor: &#39;red&#39;,
      rowCount: 6,
      colCount: 7,
      // ...
    };
  },

  // ...
</code></pre>

<pre><code class="html">&lt;!-- game-container-template --&gt;
&lt;game-board :checkers=&quot;checkers&quot; :rowCount=&quot;rowCount&quot; :colCount=&quot;colCount&quot;&gt;&lt;/game-board&gt;
</code></pre>

<p>Note that I&#39;ve chosen to store checker data in an object, where each checker will be
identified by a key based on its row and column number. Each value in the
<code>checkers</code> object will itself be an object with properties for row, column,
color of a dropped checker, i.e., <code>{ row, col, color }</code>. A common alternative for
storing data in a grid-based game is to use an array of arrays; I personally
have found it easier to represent the grid in a map-like data structure, such
as a JavaScript object, to manipulate, search for, and perform transformations
on game data. Either approach would work for the purpose of this demo—the
mechanics of getting and setting checker data in the <code>GameContainer</code> would just
differ slightly.</p>

      <h2 id="the-board" class="title">
        <a name="the-board" class="anchor" href="#the-board">       <svg aria-hidden="true" class="octicon octicon-link" height="16" version="1.1" viewBox="0 0 16 16" width="16">
       <path d="M4 9h1v1h-1c-1.5 0-3-1.69-3-3.5s1.55-3.5 3-3.5h4c1.45 0 3 1.69 3 3.5 0 1.41-0.91 2.72-2 3.25v-1.16c0.58-0.45 1-1.27 1-2.09 0-1.28-1.02-2.5-2-2.5H4c-0.98 0-2 1.22-2 2.5s1 2.5 2 2.5z m9-3h-1v1h1c1 0 2 1.22 2 2.5s-1.02 2.5-2 2.5H9c-0.98 0-2-1.22-2-2.5 0-0.83 0.42-1.64 1-2.09v-1.16c-1.09 0.53-2 1.84-2 3.25 0 1.81 1.55 3.5 3 3.5h4c1.45 0 3-1.69 3-3.5s-1.5-3.5-3-3.5z"></path>
       </svg>
</a>
        The board
      </h2>
    
<p>The <code>GameBoard</code> has the primary responsibility of defining the dimensions of
the board layout, based off the row and column counts it receives from the
<code>GameContainer</code> and the size of each cell, which will come from local data.
From this data, the board computes board width and height and the radius of
each checker. The <code>GameBoard</code> will also be responsible for filtering the
checkers specific to each column into the correct <code>BoardColumn</code> children
components, as shown in the <code>checkerStack(col)</code> function.</p>

<pre><code class="javascript">const GameBoard = Vue.component(&#39;game-board&#39;, {
  data() {
    return {
      cellSize: 100,
    };
  },

  computed: {
    cols() { return range(this.colCount); },

    boardWidth() { return this.colCount * this.cellSize; },
    boardHeight() { return this.rowCount * this.cellSize; },
    checkerRadius() { return this.cellSize * 0.45; },

    // ...
  },

  methods: {
    checkerStack(col) {
      return Object.values(this.checkers).filter(c =&gt; c.col === col);
    },
  },

  // ...
</code></pre>

<p>A neat trick here is to use a custom <code>range</code> function that converts the
<code>colCount</code> into a list of <code>0..colCount-1</code> to identify the columns, using the
spread operator and the <code>Array.prototype.keys</code> function:</p>

<pre><code>const range = num =&gt; [...Array(num).keys()];
// range(7)
// [0, 1, 2, 3, 4, 5, 6]
</code></pre>

<p>In the <code>GameBoard</code> template, we&#39;re able convert the hard-coded width, height,
, x, and y positions of our original SVG layout to dynamic properties. The
<code>GameBoard</code> also renders each of the <code>BoardColumn</code> components using the <code>v-for</code>
directive on our <code>col</code> range, again, passing key game state and checker data
as props. The props also include the url to the pattern <code>&lt;mask&gt;</code> that will
give the columns the transparent portholes, as discussed in the <a href="/blog/connect-four-with-svg-pattern-masking.html">previous
post</a>.</p>

<pre><code>&lt;!-- game-board-template --&gt;
&lt;svg :viewBox=&quot;`0 0 ${boardWidth} ${boardHeight}`&quot;
  xmlns=&quot;http://www.w3.org/2000/svg&quot;&gt;
  &lt;defs&gt;
    &lt;pattern :id=&quot;patternId&quot; :width=&quot;cellSize&quot; :height=&quot;cellSize&quot;
      patternUnits=&quot;userSpaceOnUse&quot;&gt;
      &lt;circle :cx=&quot;cellSize / 2&quot; :cy=&quot;cellSize / 2&quot; :r=&quot;checkerRadius&quot; fill=&quot;black&quot;&gt;&lt;/circle&gt;
    &lt;/pattern&gt;
    &lt;mask :id=&quot;maskId&quot;&gt;
      &lt;rect :width=&quot;cellSize&quot; :height=&quot;boardHeight&quot; fill=&quot;white&quot;&gt;&lt;/rect&gt;
      &lt;rect :width=&quot;cellSize&quot; :height=&quot;boardHeight&quot; :fill=&quot;pattern&quot;&gt;&lt;/rect&gt;
    &lt;/mask&gt;
  &lt;/defs&gt;
  &lt;template v-for=&quot;col in cols&quot;&gt;
    &lt;board-column :checkers=&quot;checkerStack(col)&quot; :col=&quot;col&quot; :mask=&quot;mask&quot; ...  /&gt;
  &lt;/template&gt;
&lt;/svg&gt;
</code></pre>

<p>For more on the <code>&lt;defs&gt;</code>, <code>&lt;pattern&gt;</code>, and <code>&lt;mask&gt;</code> elements, see the previous
article on <a href="/blog/connect-four-with-svg-pattern-masking.html">SVG pattern
masking</a>. The <code>&lt;template&gt;</code>
tag allows us to add Vue directives, like <code>v-for</code>, without adding unnecessary
markup to the rendered HTML.</p>

      <h2 id="the-columns" class="title">
        <a name="the-columns" class="anchor" href="#the-columns">       <svg aria-hidden="true" class="octicon octicon-link" height="16" version="1.1" viewBox="0 0 16 16" width="16">
       <path d="M4 9h1v1h-1c-1.5 0-3-1.69-3-3.5s1.55-3.5 3-3.5h4c1.45 0 3 1.69 3 3.5 0 1.41-0.91 2.72-2 3.25v-1.16c0.58-0.45 1-1.27 1-2.09 0-1.28-1.02-2.5-2-2.5H4c-0.98 0-2 1.22-2 2.5s1 2.5 2 2.5z m9-3h-1v1h1c1 0 2 1.22 2 2.5s-1.02 2.5-2 2.5H9c-0.98 0-2-1.22-2-2.5 0-0.83 0.42-1.64 1-2.09v-1.16c-1.09 0.53-2 1.84-2 3.25 0 1.81 1.55 3.5 3 3.5h4c1.45 0 3-1.69 3-3.5s-1.5-3.5-3-3.5z"></path>
       </svg>
</a>
        The columns
      </h2>
    
<p>Now on to the <code>BoardColumn</code> component and its template. It is responsible for
rendering the pattern-masked <code>&lt;rect&gt;</code> and any checkers dropped in its column.
By wrapping the <code>BoardColumn</code> in a nested <code>&lt;svg&gt;</code> element with an x value based
off <code>col * cellSize</code>, the rendered child elements of the <code>BoardColumn</code> will be
positioned relatively within. Note how straightforward it is to add a click listener to our template where we&#39;ll trigger a <code>drop</code> method on the <code>BoardColumn</code> instance.</p>

<pre><code>&lt;!-- board-column-template --&gt;
&lt;svg :x=&quot;col * cellSize&quot; y=&quot;0&quot;&gt;
  &lt;g @click=&quot;drop&quot; class=&quot;column&quot;&gt;
    &lt;template v-for=&quot;checker in checkers&quot;&gt;
      &lt;board-checker :checker=&quot;checker&quot; :cellSize=&quot;cellSize&quot; :rowCount=&quot;rowCount&quot; ...  /&gt;
    &lt;/template&gt;
    &lt;rect :width=&quot;cellSize&quot; :height=&quot;boardHeight&quot; :fill=&quot;color&quot; :mask=&quot;mask&quot; /&gt;
  &lt;/g&gt;
&lt;/svg&gt;
</code></pre>

<p>Let&#39;s check out that <code>drop</code> method on <code>BoardColumn</code>.</p>

<pre><code class="javascript">const BoardColumn = Vue.component(&#39;board-column&#39;, {
  computed: {
    // Find the current max occupied row and add 1
    nextOpenRow() {
      return Math.max(...this.checkers.map(c =&gt; c.row).concat(-1)) + 1;
    },
  },

  methods: {
    drop(col) {
      const row = this.nextOpenRow;

      if (row &lt; this.rowCount) {
        this.$emit(&#39;drop&#39;, { row, col });
      } else {
        console.log(&#39;cannot drop&#39;, { row, col });
      }
    },
  },
});

</code></pre>

<p>The method&#39;s responsibility is to trigger a <code>&#39;drop&#39;</code> event up the component hierarchy
with data for <code>{ row, col }</code>. This will indicate an attempt has been made to drop
a checker at that position. To accomplish this, it calculates the next
available row in the <code>nextOpenRow</code> function. If the next open row would be off
the board, then the column is full and the attempt is swallowed. We calculate
<code>nextOpenRow</code> by finding the max row number in the stack and adding one. If the
checker stack is empty in this column, then the result will be <code>0</code>, which is
where we&#39;d want the first checker to land.</p>

      <h2 id="updating-game-state" class="title">
        <a name="updating-game-state" class="anchor" href="#updating-game-state">       <svg aria-hidden="true" class="octicon octicon-link" height="16" version="1.1" viewBox="0 0 16 16" width="16">
       <path d="M4 9h1v1h-1c-1.5 0-3-1.69-3-3.5s1.55-3.5 3-3.5h4c1.45 0 3 1.69 3 3.5 0 1.41-0.91 2.72-2 3.25v-1.16c0.58-0.45 1-1.27 1-2.09 0-1.28-1.02-2.5-2-2.5H4c-0.98 0-2 1.22-2 2.5s1 2.5 2 2.5z m9-3h-1v1h1c1 0 2 1.22 2 2.5s-1.02 2.5-2 2.5H9c-0.98 0-2-1.22-2-2.5 0-0.83 0.42-1.64 1-2.09v-1.16c-1.09 0.53-2 1.84-2 3.25 0 1.81 1.55 3.5 3 3.5h4c1.45 0 3-1.69 3-3.5s-1.5-3.5-3-3.5z"></path>
       </svg>
</a>
        Updating game state
      </h2>
    
<p>Note this constitues some game logic so we&#39;re cheating a little given our
presentation/container distinction noted earlier; it may make more sense to
push this logic to our <code>GameContainer</code> later, but for now, it&#39;s convenient to
leave it here. As we&#39;ll see later, the <code>GameContainer</code> will respond to this
event and do the work to update the <code>checkers</code> map for the game.</p>

<p>Back in the <code>GameContainer</code>, an emitted <code>drop</code> event with <code>{ row, col }</code> data is
captured here, where the game will add the current player&#39;s <code>color</code> as
property, update the <code>checkers</code> object, and toggle the color for the next
player.</p>

<pre><code class="javascript">const GameContainer = Vue.component(&#39;game-container&#39;, {
  methods: {
    toggleColor() {
      if (this.playerColor === RED) {
        this.playerColor = BLACK;
      } else {
        this.playerColor = RED;
      }
    },

    drop({ col, row }) {
      const color = this.playerColor;

      console.log(&#39;setting checker&#39;, key(row, col), { row, col, color });
      Vue.set(this.checkers, key(row, col), { row, col, color });
      this.toggleColor();
    },

    // ...
  },

  // ...
});
</code></pre>

<p>Note an important gotcha when using <code>Vue.js</code> demonstrated here: we need to use
<code>Vue.set</code> when adding a new checker to the <code>checkers</code> object. Vue needs to hook
into getters/setters to track dependencies and propagate data changes
throughout the application. Unfortunately, because of how JavaScript works,
<em>Vue can&#39;t detect property addition or deletion</em>. This affects how we
adding checkers to the underlying data structure during game play. By using
<code>Vue.set</code>, we ensure the data change results in rendering the new checker
on the game board.</p>

      <h2 id="the-checkers" class="title">
        <a name="the-checkers" class="anchor" href="#the-checkers">       <svg aria-hidden="true" class="octicon octicon-link" height="16" version="1.1" viewBox="0 0 16 16" width="16">
       <path d="M4 9h1v1h-1c-1.5 0-3-1.69-3-3.5s1.55-3.5 3-3.5h4c1.45 0 3 1.69 3 3.5 0 1.41-0.91 2.72-2 3.25v-1.16c0.58-0.45 1-1.27 1-2.09 0-1.28-1.02-2.5-2-2.5H4c-0.98 0-2 1.22-2 2.5s1 2.5 2 2.5z m9-3h-1v1h1c1 0 2 1.22 2 2.5s-1.02 2.5-2 2.5H9c-0.98 0-2-1.22-2-2.5 0-0.83 0.42-1.64 1-2.09v-1.16c-1.09 0.53-2 1.84-2 3.25 0 1.81 1.55 3.5 3 3.5h4c1.45 0 3-1.69 3-3.5s-1.5-3.5-3-3.5z"></path>
       </svg>
</a>
        The checkers
      </h2>
    
<p>To render the checkers, we have a <code>BoardChecker</code> component. It is simply a <code>&lt;circle&gt;</code> element.</p>

<pre><code>&lt;!-- board-checker-template --&gt;
&lt;circle :cx=&quot;centerX&quot; :cy=&quot;centerY&quot; :r=&quot;checkerRadius&quot; :fill=&quot;adjustedColor&quot; /&gt;
</code></pre>

<p>The <code>cx</code> and <code>cy</code> properties are computed based on the <code>checker</code> object&#39;s <code>row</code> and the <code>cellSize</code> and <code>rowCount</code> properties passed in from the parent column. We translate the canonical red/black color names to prettier hex colors to fill each <code>&lt;circle&gt;</code>.</p>

<pre><code>const BoardChecker = Vue.component(&#39;board-checker&#39;, {
  data() {
    return {
      colorHexes: {
        red: &#39;#FC7E69&#39;,
        black: &#39;#254689&#39;,
      },
    };
  },

  computed: {
    row() { return this.checker.row; },
    col() { return this.checker.col; },
    color() { return this.checker.color; },

    adjustedColor() {
      return this.colorHexes[this.color];
    },

    centerX() {
      return (this.cellSize / 2);
    },

    centerY() {
      return (this.cellSize / 2) + (this.cellSize * (this.rowCount - 1 - this.row));
    },
  },
});
</code></pre>

<p>Again, here&#39;s a link to <a href="https://codepen.io/rossta/pen/jYxxGv?editors=1010">the pen on
codepen.io</a> where you can
see the full source code and try out the game for yourself.</p>

<p>This completes our first pass at using Vue.js to create a playable Connect Four
game in the browser. We&#39;re not yet detecting a game win or draw; that&#39;s still
to come. In the next post, we use Vue to animate each checker falling into
place as they are added to the board.</p>

    </article>
    <section class="margin-bottom double">
      <a href="https://twitter.com/intent/tweet?text=Building%20basic%20Connect%20Four%20with%20Vue.js&amp;url=https%3A%2F%2Frossta.net%2Fblog%2Fbasic-connect-four-with-vuejs.html" class="button" target="_blank" rel="noopener">Share this post on Twitter</a>
    </section>
    <section class="signup-form-standalone margin-bottom quadruple">
      <!-- Begin MailChimp Signup Form -->
<div class="signup-form">
  <h3>Did you like this post?</h3>
  <p>Stay in the LOOP! Leave your email and I'll send you an occasional email on Ruby, Javascript, or Elixir for the web.</p>
  <div id="mc_embed_signup">
    <form action="//rossta.us6.list-manage.com/subscribe/post?id=96030b0bda&u=8ce159842b5c98cecb4ebdf16" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div id="mc_embed_signup_scroll">

        <div class="row">
          <div class="large-10 columns">
            <div class="row collapse">
              <div class="large-8 small-7 columns">
                <input type="email" placeholder="Your email..." value="" name="EMAIL" class="required email" id="mce-EMAIL">
              </div>
              <div class="large-4 small-5 columns">
                <input type="submit" value="Sign me up!" name="subscribe" id="mc-embedded-subscribe" class="button postfix">
              </div>
            </div>
          </div>
        </div>

        <div id="mce-responses" class="clear">
          <div class="response" id="mce-error-response" style="display:none"></div>
          <div class="response" id="mce-success-response" style="display:none"></div>
        </div>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;"><input type="text" name="b_8ce159842b5c98cecb4ebdf16_96030b0bda" tabindex="-1" value=""></div>
      </div>

      <input type="hidden" name="SIGNUP" value="https://rossta.net/blog/2018-01-15-basic-connect-four-with-vuejs.html" />
      <input type="hidden" name="SIGNUP_APP" value="Mailchimp" />
      <input type="hidden" name="SIGNUP_LOCATION" id="signup_location" value="blog/2018-01-15-basic-connect-four-with-vuejs.html" />
      <input type="hidden" name="SIGNUP_TAGS" id="signup_tags" value="Vue,SVG" />
    </form>
  </div>
  <!--End mc_embed_signup-->
</div>

    </section>
    <section class="margin-bottom double">
      <p>
          Part of the <a href="/blog/series/connect-four.html">Connect Four</a> series.
        Published on Jan 15, 2018
      </p>
    </section>
  </section>
    <hr />
    <section class="comments">
      <div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname  = "rosskaff";
    var disqus_identifier = "basic-connect-four-with-vuejs";
    var disqus_title      = "Building basic Connect Four with Vue.js";
    var disqus_url        = "https://rossta.net/blog/basic-connect-four-with-vuejs.html";

    var disqus_config = function () {
        this.page.url = disqus_url;  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = disqus_identifier; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
        this.page.title = disqus_title;
    };

    (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = '//rosskaff.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>

<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

<!-- <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a> -->

    </section>

      </section>
    </div>
    
    <footer>
  <div class="row">
    <img src="/assets/images/turtle-logo-096698b6.svg" class="turtle" alt="Turtle logo" />
    <section class="large-6 columns">
      <h5>Most Popular</h5>
      <ul>
          <li><a href="/blog/web-push-notifications-from-rails.html">Sending Web Push Notifications from Rails</a></li>
          <li><a href="/blog/n+1-is-a-rails-feature.html">N+1 is a Rails feature</a></li>
          <li><a href="/blog/what-i-learned-about-hanami.html">What I learned building an app in Hanami</a></li>
          <li><a href="/blog/how-to-specify-local-ruby-gems-in-your-gemfile.html">How to specify local Ruby gems in your Gemfile</a></li>
          <li><a href="/blog/service-worker-on-rails.html">Service Worker on Rails</a></li>
      </ul>
    </section>
    <section class="large-3 columns">
      <h5>Categories</h5>
      <ul>
          <li><a href="/blog/tags/ruby.html">Ruby</a></li>
          <li><a href="/blog/tags/rails.html">Rails</a></li>
          <li><a href="/blog/tags/javascript.html">JavaScript</a></li>
          <li><a href="/blog/tags/service-worker.html">Service Worker</a></li>
          <li><a href="/blog/tags/rspec.html">RSpec</a></li>
      </ul>
    </section>
    <section class="large-3 columns">
      <h5>Contact</h5>
      <ul>
        <li><a href="mailto:ross@rossta.net" rel="me noopener">email</a></li>
        <li><a href="https://twitter.com/rossta" rel="me noopener">twitter</a></li>
        <li><a href="https://medium.com/@rossta" rel="me noopener">medium</a></li>
        <li><a href="https://github.com/rossta" rel="me noopener">github</a></li>
        <!-- <li><a href="https://stackoverflow.com/users/771838/rossta?tab=profile" rel="me">stackoverflow</a></li> -->
        <li><a href="https://www.linkedin.com/in/rosskaffenberger" rel="me noopener">linkedin</a></li>
      </ul>
    </section>
  </div>
  <p class="copyright small subtle center">
    © 2018 Ross Kaffenberger. All rights reserved.
  </p>
</footer>

    <script src="/assets/javascripts/runtime.bundle-a9c6ad20.js"></script><script src="/assets/javascripts/vendor.bundle-190c5e7c.js"></script><script src="/assets/javascripts/app.bundle-e087dca1.js"></script>
    
    <script type="text/javascript">
!function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.1.0";
analytics.load("NdBtrprkAGAjQryMShljRdVf90saElAU");
analytics.page()
window.$.tracking.flush(analytics);
}}();
</script>

  </body>
</html>
