<% content_for(:title) { } %>
<% content_for(:section) { 'I make things' } %>

<section id="hero" class="hero mb-12 bg-silver">
  <header class="flex items-center justify-between mb-4">
    <h1>Thanks for Signing up!</h1>
  </header>
  <section>
    <p class="mb-4">Your subscription to my newsletter has been confirmed. I'm looking forward to helping you on your journey as a web developer.</p>
    <a href="/" class="button button-green mr-2">
      Back
    </a>
    <a href="/blog" class="button button-blue">
      Browse more articles
    </a>
  </section>
</section>
