<% content_for(:title) { } %>
<% content_for(:section) { 'I make things' } %>
<% content_for(:javascripts) do %>
  <script type="text/javascript">
    $.tracking.identify({ newsletter: true });
    $.tracking.track("Newsletter sign up");
  </script>
<% end %>

<section id="hero">
  <header>
    <h1>Thanks for Signing up!</h1>
  </header>
  <section>
    <p>Your subscription to my newsletter has been confirmed. I'm looking forward to helping you on your journey as a web developer.</p>
    <p>I'd love to hear from you, so <%= link_to "send me an email", email_url %> or <%= link_to "follow me on twitter", "https://twitter.com/rossta" %>. While you're here, read on!</p>
    <a href="/" class="button">Read the latest post</a>
  </section>
</section>

