<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2010-01-04-hello-world.md</string>
		</array>
		<array>
			<string>2010-02-17-just-in-time-css.md</string>
		</array>
		<array>
			<string>2010-05-17-mott-hall-iii-school-career-day.md</string>
		</array>
		<array>
			<string>2010-07-20-delegate-and-custom-events.md</string>
		</array>
		<array>
			<string>2010-09-08-step-up-to-the-soapbox.md</string>
		</array>
		<array>
			<string>2010-12-25-heuristics.md</string>
		</array>
		<array>
			<string>2010-12-27-behavior-driven-event-driven-eventmachine-rspec.md</string>
		</array>
		<array>
			<string>2011-02-26-opt-in-xss-protection-for-rails-3-upgrade.md</string>
		</array>
		<array>
			<string>2011-06-23-lean-startup-meetup-ignited.md</string>
		</array>
		<array>
			<string>2011-09-30-when-your-fat-models-need-to-go-on-a-diet.md</string>
		</array>
		<array>
			<string>2011-10-03-when-your-fat-models-need-to-go-on-a-diet-part-2.md</string>
		</array>
		<array>
			<string>2011-12-22-toggle-rails-caching-in-rspec-suite.md</string>
		</array>
		<array>
			<string>2012-02-09-presentation-intro-to-javascript-mvc.md</string>
		</array>
		<array>
			<string>2013-03-01-create-and-deploy-an-ember-app-in-5-minutes.md</string>
		</array>
		<array>
			<string>2013-03-25-why-i-ditched-wordpress-for-github.md</string>
		</array>
		<array>
			<string>2013-03-26-configuring-rack-test-driver-in-capybara-2.md</string>
		</array>
		<array>
			<string>2013-08-26-featured-post-for-speed-awareness-month.md</string>
		</array>
		<array>
			<string>2014-02-01-automatic-backups-to-amazon-s3-are-easy.md</string>
		</array>
		<array>
			<string>2014-02-05-ruby,-you-autocomplete-me.md</string>
		</array>
		<array>
			<string>2014-02-25-three-steps-to-effective-code-reviews.md</string>
		</array>
		<array>
			<string>2014-11-30-push-data-to-rails-client.md</string>
		</array>
		<array>
			<string>2015-01-01-best-books-i-read-in-2014.md</string>
		</array>
		<array>
			<string>2015-10-25-generating-lazy-sequences-in-ruby.md</string>
		</array>
		<array>
			<string>enumerable-ruby.md</string>
		</array>
	</array>
</dict>
</plist>
