---
pageable: true
per_page: 25
---
<% content_for(:section) { 'Blog' } %>

<%= page_header 'Articles on rossta.net', 'Programming for the web' %>

<br /><hr /><br/>
<section id="blog" class="index-posts">
  <% blog("blog").articles.each do |article| %>
    <article class="index-post">
      <header>
        <h3><%= link_to article.title, article %></h3>
        <% if article.data.summary %>
          <p class="alt-title subtle"><%= article.data.summary %></p>
        <% end %>
      </header>
    </article>
  <% end %>
  <br /><hr /><br />
</section>
<section class="signup-form-standalone margin-bottom double">
  <%= partial "partials/signup" %>
</section>
