---
pageable: true
per_page: 5
---
<% content_for(:section) { 'Blog' } %>
<section id="blog">
  <ul class="index">
    <% blog.articles.each do |article| %>
      <li>
        <a href="<%= article.url %>"><%= article.title %></a>
        <br /><span class="font-light"><%= article.date.strftime('%b %e, %Y') %></span>
      </li>
    <% end %>
  </ul>
</section>
