---
pageable: true
prefix: blog
per_page: 25
---
<% content_for(:section) { 'Blog' } %>

<%= page_header 'Articles on rossta.net', 'Programming for the web' %>

<section id="blog" class="index-posts">
  <%= partial "partials/article_index", locals: { local_articles: page_articles } %>
  <hr /><br /><br />
  <%= partial "partials/pagination" %>
  <br />
</section>

<section class="signup-form-standalone margin-bottom double">
  <%= partial "partials/signup" %>
</section>
