<%= page_header 'Tags', 'Posts on rossta.net' %>
<section class="index-posts">
  <% top_tags.each do |tag, articles| %>
    <article class="index-post">
      <header class="index-title">
        <%= link_to tag, tag_path(tag, 'blog') %>
        <span class="text-sm font-light text-gray-600">
          &middot; <%= articles.count %>
        </span>
      </header>
    </article>
  <% end %>
</section>
