<section id="hero" class="hero p-4 lg:p-12 lg:-mx-12 mb-12 bg-silver rounded">
  <header class="mb-4 text-4xl">
    <h1>Oops! 404</h1>
  </header>
  <section class="mb-16">
    <p>The page you were looking for isn't here!</p>
    <p>Perhaps you'd like to go back to the <%= link_to "home page", "/" %> or sign up for my newsletter</p>
  </section>
  <%= partial "partials/signup" %>
</section>
