<section id="hero">
  <header>
    <h1>404</h1>
  </header>
  <section>
    <p>The page you were looking for isn't here!</p>
    <p>Perhaps you'd like to go back to the <%= link_to "home page", "/" %> or sign up for my newsletter</p>
  </section>
  <%= partial "partials/signup" %>
</section>
