<ul class="inline-list">
  <li><a href="/writing">writing</a></li>
  <li><a href="/projects">projects</a></li>
  <li><a href="/about">about</a></li>
  <li><a href="http://twitter.com/rossta">twitter</a></li>
  <li><a href="http://github.com/rossta">github</a></li>
  <li><a href="mailto:rosskaff@gmail.com">email</a></li>
</ul>
