<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title></title>
  </head>
  <body>
    <div class="row">
      <section id="main" role="main" class="large-12 small-12 columns">
        <section id="page">
          <div id="portfolio"></div>
        </section>
      </section>
    </div>
    <%= javascript_include_tag "devpost" %>
  </body>
</html>
