---
pageable: true
per_page: 5
---
<% content_for(:title) { } %>
<% content_for(:section) { 'I make things' } %>

<section id="hero">
  <header>
    <h1>Hello, I'm Ross. I build web apps</h1>
  </header>
  <section>
    <p>Writing apps with Ruby on Rails or node.js is HARD. I know, I've been at it for nearly ten years.</p>
    <p>How do you ship while staying on top of the latest tools and techniques?</p>
    <p>I can help. Sign up to get tips on writing better Ruby and Javascript for the web.</p>
  </section>
  <section class="signup-form">
    <%= partial "signup" %>
  </section>
</section>

<h2 class="margin-bottom">Latest posts on coding for the web</h2>
<section class="index-posts margin-top">
  <% page_articles.each_with_index do |article, i| %>
    <article class="index-post">
      <header>
        <h4>
          <%= link_to article.title, article %>
        </h4>
        <% if article.data.alt_title %>
          <p class="alt-title subtle"><%= article.data.alt_title %></p>
        <% end %>
      </header>
    </article>
  <% end %>
</section>
