---
pageable: true
per_page: 5
---
<% content_for(:title) { } %>
<% content_for(:section) { 'I make things' } %>

<section id="hero">
  <header>
    <h1>Hello, I'm Ross. I build web apps.</h1>
  </header>
  <section>
    <p>Are you struggling through coding challenges, tutorials, and your side projects at night trying the transition from another career into web development? Companies want developers with experience&mdash;but how do you get it? How do you ship and scale while staying on top of the latest tools and techniques?</p>

    <p>Writing apps with Ruby on Rails is HARD. I know, I've been at it for nearly ten years. You want to get there faster? I can help.</p>
  </section>
  <%= partial "partials/signup" %>
</section>

<h2 class="margin-bottom">New? Start here</h2>
<section class="index-posts margin-top">
   <article class="index-post">
     <header>
       <h4><%= link_to "Exploring Ruby's Enumerable", series_path("Enumerable", "blog") %></h4>
        <p class="alt-title subtle">Working with collections and sequences in Ruby</p>
     </header>
   </article>
</section>

<section class="index-posts margin-top">
  <% page_articles.each_with_index do |article, i| %>
    <article class="index-post">
      <header>
        <h4>
          <%= link_to article.title, article %>
        </h4>
        <% if article.data.summary %>
          <p class="alt-title subtle"><%= article.data.summary %></p>
        <% end %>
      </header>
    </article>
  <% end %>
</section>
