<% nozen! %>
<section id="hero">
  <header>
    <h1>Offline</h1>
  </header>
  <section>
    <p>We're not able to get a good internet connection but there's some <strong>good news</strong>:
      some resources on this site are available while you're offline!</p>
  </section>
</section>
