---
pageable: true
per_page: 25
---

<%= page_header tagname, 'Articles on rossta.net' %>

<section class="index-posts">
  <%= partial "partials/article_index", locals: { local_articles: page_articles } %>
  <%= partial "partials/pagination" %>
</section>
