---
pageable: true
per_page: 25
---

<%= page_header tagname, 'Tagged on rossta.net' %>

<section class="index-posts">
  <%= partial "partials/article_index", locals: { local_articles: page_articles } %>
  <hr /><br /><br />
  <%= partial "partials/pagination" %>
  <br />
</section>
